/* .background-image{
    background: url("/static/images/background.jpg") 100% no-repeat fixed !important;
    color: white;
    height: 100%;
    margin: 0%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}   */
