{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }} text-warning">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<div class="card shadow m-5">
  
  <h5 class ="p-2" style= "border-bottom:3px solid blue ;background-color:blueviolet;"> ADD RESULT</h5>
  <div class = "container-fluid" style= "background-color:lightgreen;">
    <form method = "post" enctype="multipart/form-data">
      {% csrf_token %}
    <div class = "form-row">
      <div class =  "col-sm-6">
        <div class="form-group">
        <lable>TestName</lable>
        <input type="text" name="NAME" class = "form-control" placeholder="test name" pattern ="[A-Za-z]+" required>
      </div> 
      </div>

      <div class =  "col-sm-6">
        <div class="form-group">
        <lable>TestTopics</lable>
        <input type="text" name="TOPICS" class = "form-control" placeholder="topics name" pattern ="[A-Za-z]+" required>
      </div> 
      </div>
      </div>
      

    
          
          <div class = "form-row">
            <div class =  "col-sm-3">
              <div class="form-group">
              <lable>upload File</lable>
              <input type="file" name="FILE" class = "form-control" placeholder="file attach" required>
            </div> 
            </div>
            </div>
  
          

          <br><hr style= "border-bottom:3px solid rgb(255, 0, 0)">

        <input type="submit" value= "Submit" class = " m-2 px-3 btn btn-success">

      </form>
      </div>
</div>
{% if error == "no" %}
<script>
  alert("signup Successfull");
  window.location = ("{% url 'employee_login' %}");
</script>
{% endif %}

{% if error == "yes" %}
<script>
  alert("Something went wrong signup failed!!!");
  window.location = ("{% url 'registration' %}");
</script>
{% endif %}